<form action="/articles" method="POST">
    <ul>
        <li>
            <label for="Title">Title</label>
            <input id="title" type="text" name="title"/> 
        </li>
        <li>
            <label for="Content">Title</label>
            <input id="content" type="text" name="content"/> 
        </li>
    </ul>
</form>